<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
        <% orders.forEach(order=>{ %>
            <tr>
                <th scope="row"><%- order.id; %></th>
                <td><%- order.name; %></td>
                <td><%- order.email; %></td>
                <td><%- order.product.title; %></td>
                <td><%- order.product.price; %></td>
                <td><%- order.quantity; %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
